.my-challenge {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.55rem;
}
.my-challenge .challenge-title h2 {
    color: #555;
    font-size: 0.28rem;
    font-weight: 700;
}
.challenge {
    margin: 0 !important;
}
.challenge-item {
    width: 3.2rem !important;
    border-radius: 0.16rem;
    overflow: hidden;
    border: 2px solid #F5F4F4;
}
.challenge-item .cover-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    background: no-repeat center/cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.cover {
    transition: transform .6s cubic-bezier(0.4, 0, 0.25, 1);
}
.challenge-item .cover-wrapper .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.challenge-item .cover-wrapper .cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
.challenge-item .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.challenge-item .footer .info {
    width: 100%;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
}
.challenge-item .footer .info .name {
    font-size: 0.35rem;
    color: #353535;
    font-weight: 800;
    word-break: keep-all;
    text-align: center;
    
}
.challenge-item .footer .info .desc {
    font-size: 0.17rem;
    word-break: keep-all;
    text-align: center;
    color: #555;
    margin-top: .1rem;
}
.challenge-item .footer .more {
    display: flex;
    width: 100%;
    padding: 0 0.3rem;
    padding-bottom: 0.3rem !important;
}
.challenge-item .footer .more .daily-btn {
    background: #367AFF;
    height: 0.48rem;    
    color: #fff;
    font-weight: 600;
    font-size: 0.16rem;
    width: 100%;
    display: flex;
    border-radius: 0.12rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.challenge-item:hover .cover-wrapper .cover {
    transform: scale(1.05);
}
.open-challenge .challenge-title {
    display: flex;
    width: 100%;
}
.open-challenge .challenge-title h2 {
    color: #555;
    font-size: 0.28rem;
}
.open-challenge .container {
    display: flex;
    flex-direction: column;
}
.open-challenge .container .header {
    width: 100%;
}
.open-challenge .container .body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.challenge-title {
    margin-bottom: .2rem;
}
.challenge-banner {
    width: 100%;
    height: 4rem;
    position: relative;
}
.cover-wrapper {
    top: 0;
}
.cover-wrapper {
    left: 0;
}
.challenge-banner .cover-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.daily-section[data-page-type="detail"] .cover-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.challenge-banner .cover-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.challenge-banner .challenge-info {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: relative;
}
.info-wrapper {
    padding-left: .95rem;
}
.info-wrapper {
    padding-right: .95rem;
}
.info-wrapper {
    display: flex;
    flex-direction: column;
}
.challenge-banner .challenge-info .info-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
} 


.challenge-banner .challenge-info .info-wrapper .name {
    font-size: .65rem;
    font-weight: 800;
    color: #fff;
}
.challenge-banner .challenge-info .info-wrapper .desc {
    font-size: .25rem;
    font-weight: 500;
    color: #fff;
    margin-top: .11rem;
}

.daily-section[data-page-type="detail"] .header {
    display: flex;
    gap: .2rem;
    justify-content: right;
}
.daily-section[data-page-type="detail"] .header .daily-btn {
    border: 2px solid #161617;
    color: #161617;
    font-size: .18rem;
    cursor: pointer;
    padding: .12rem .3rem;
    border-radius: .4rem;
    transition: .3s;
}
.daily-section[data-page-type="detail"] .header .daily-btn:hover {
    color: #fff;
    background: #161617;
}

.create-challenge {
    position: fixed;
    right: 0.45rem;
    bottom: 0.45rem;
    cursor: pointer;
}

.create-challenge-modal {
    transition: all .6s ease;
    overflow: hidden;
}

.create-challenge-modal {
    transform: translateX(100%);
}

.create-challenge-modal.open {
    transform: translateX(0);
}
.create-challenge-modal.close {
    transform: translateX(100%);
}
.create-challenge-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
}
.create-challenge-modal .modal-container {
    padding-left: 4.35rem !important;
    height: 100%;
    padding: .95rem;
    background: #fff;
}



.create-challenge-modal .modal-container .modal-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.create-challenge-modal .modal-container .modal-head h2 {
    font-size: .2rem;
    color: #555;
    text-align: center;
}
.create-challenge-modal .modal-container .modal-head h1 {
    font-size: .47rem;
    font-weight: 700;
    text-align: center;
    margin-top: .04rem;
}

.create-challenge-modal .modal-container .modal-head .close {
    position: absolute;
    top: 0;
    left: 0;
}

.create-challenge-modal .modal-container .modal-head .close svg {
    display: flex;
}



.create-challenge-modal .modal-container .modal-content {
    padding-top: .9rem;
    width: 4.5rem;
    margin: auto;
}
.create-challenge-modal .modal-container .modal-content .daily-form .daily-form-input {
    width: 100%;
    height: .6rem;
    overflow: hidden;
    border: 1px solid #d2d2d7;
    border-radius: 0.12rem;
    margin-bottom: .2rem;
}
.create-challenge-modal .modal-container .modal-content .daily-form .daily-form-input .input {
    width: 100%;
    height: 100%;
    display: flex;
    color: #494949;
    font-size: .16rem;
}
.create-challenge-modal .modal-container .modal-content .daily-form .daily-form-input .input {
    border: 0;
    outline: 0;
    padding: 0 .2rem;
}
.create-challenge-modal .modal-container .modal-content .daily-form .daily-form-input .textarea {
    width: 100%;
    height: 100%;
    display: flex;
}
.create-challenge-modal .modal-container .modal-content .daily-form .daily-form-title {
    color: #353535;
    font-weight: 500;
    font-size: .15rem;
}
.daily-form-textarea {
    margin-top: .4rem !important;
}
.create-challenge-modal .modal-container .modal-content .daily-form .daily-form-textarea {
    width: 100%;
    height: 1rem;
    overflow: hidden;
    border: 1px solid #d2d2d7;
    border-radius: 0.12rem;
}
.create-challenge-modal .modal-container .modal-content .daily-form .daily-form-textarea .textarea {
    width: 100%;
    height: 100%;
    resize: none;
    display: flex;
    color: #494949;
    font-size: .16rem;
}
.textarea {
    outline: none;
    border: none;
    padding: .2rem;
}
.create-challenge-modal .daily-btn {
    background: #367AFF;
    height: 0.48rem;
    color: #fff;
    font-weight: 600;
    font-size: 0.16rem;
    width: 100%;
    display: flex;
    border-radius: 0.12rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: .4rem;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.daily-form-dropdown {
    margin-bottom: .2rem;
}
.daily-form-dropdown .dropdown-box .anticon-caret-down {
    position: absolute;
    right: .2rem;
}
.daily-form-dropdown .daily-form-title h2 {
    font-size: .2rem;
    color: #494949;
}
.daily-form-dropdown .dropdown-box {
    position: relative;
    width: 100%;
    height: .6rem;
    overflow: hidden;
    border: 1px solid #d2d2d7;
    border-radius: 0.12rem;
    display: flex;
    align-items: center;
    color: #494949;
    font-size: .16rem;
    padding: 0 .2rem;
    margin: .05rem 0;
    margin-top: .1rem;
    cursor: pointer;
}
.ant-dropdown-menu {
    /* padding: 0.12rem !important; */
    border-radius: 0.12rem !important;
}
.dropdown-box .anticon-caret-down {
    transition: .3s;
}
.dropdown-box.ant-dropdown-open .anticon-caret-down {
    transform: rotate(180deg);
}
.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-1jr9qlj {
    width:100%;
    background:#fff;
    box-shadow:0rem 0rem .11rem 0rem rgba(14,15,15,.15);
    border-radius:.11rem;
    padding:.13rem 0;
    margin-top:.13rem;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item { 
    list-style-type:none;
    margin:0;
    padding:0;
    height:.51rem;
    margin-bottom:.13rem;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: .15rem;
    border-radius: 0 !important;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:last-child {
    margin: 0 !important;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item span {
    display: flex;
    width: 100%;
    justify-content: center
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected,
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color:#f3f3f3
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
    color: #000 !important;
}
.daily-form-dropdown {
    margin-top: .4rem !important;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.number {
    height: .35rem;
}