.customer-service {
    padding-top: 1.1rem;
}
.customer-service .g-container {
    width: 10rem;
}
.customer-service .style--chating .chating-header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.customer-service .style--chating .chating-header .g-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chating-icon {
    border-radius: 50%;
    overflow: hidden;
}
.customer-service .style--chating .chating-header .chating-icon {
    width: 1.45rem;
    height: 1.45rem;
}
.customer-service .style--chating .chating-header .chating-icon img {
    width: 100%;
    height: 100%;
}

.chatBot-message {
    display: flex;
}
.chatBot--profile {
    border-radius: 50%;
    overflow: hidden;
}
.chatBot-message .chatBot--profile {
    width: .65rem;
    height: .65rem;
    margin-right: .2rem;
} 
.chatBot-message .chatBot--profile img {
    width: 100%;
    height: 100%;
    display: flex;
}
.chatUser-message {
    display: flex;
    justify-content: right;
}
.chating--message.Components__message:nth-child(1) {
    border-radius: 0.05rem 0.2rem 0.2rem 0.2rem !important;
}
.chating--message.Components__message {
    display: flex;
    border-radius: 0.2rem;
    width: fit-content;
    padding: .165rem .28rem;
    font-size: .21rem;
    font-weight: 500;
    background: #efefef;
    margin-bottom: 0.1rem;
}
.chatUser-message .chatBot--message {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.chatUser-message .chating--message.Components__message {
    background: #2a2a2a;
    color: #fff;
}

.chatUser-message .chating--message.Components__message:nth-child(1) {
    border-radius: 0.2rem 0.05rem 0.2rem 0.2rem !important;
}

/* Animation */
.chating-header {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate(-50%, -50%);
}
.chating-header.animation {
    opacity: 1;
}
.chating-header.animation.up__start {
    animation: antUp 2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
@keyframes antUp {
    0% {
        top: 50%;
    } 
    100% {
        top: 17.6%;
    }
}
.chating-content {
    opacity: 0;
    padding-top: 3.4rem;
    transition: all 1s cubic-bezier(0.5,1,0.89,1),opacity .6s cubic-bezier(0.5,1,0.89,1);
}
.chating-content.animation {
    opacity: 1;
    padding-top: 2.8rem;
}