@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:not(p), ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:not(p), ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
input,
textarea {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}
a {
  text-decoration: none;
}
a {
  color: #0066cc;
}
a:hover {
  text-decoration: underline;
}
img {
  user-select: none;
  pointer-events: none;
}
p {
  word-break: keep-all;
  line-height: 1.5;
}
html {
  font-size: 100px;
}
html.register {
  font-size: 90px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.g-container {
  width: 12.4rem;
  margin: auto;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.daily-section {
  padding-left: 3.4rem;
}
/* #root {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
@media (min-width: 740px) {
  #root {
    max-height: 62.5vw;
    min-height: 43.75vw;
  }
} */

@media (min-width: 1800px) {
  html {
      font-size: 100px;
  }
}
@media (min-width: 1370px) and (max-width: 1799px) {
  html {
      font-size: 75px;
  }
}
@media (min-width: 1024px) and (max-width: 1369px) {
  html {
      font-size: 55.56px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  html {
      font-size: 48.61px;
  }
}